* {
    border: 0;
    outline: 0;
    padding: 0 !important;
    margin: 0 !important;
    vertical-align: baseline;
    box-sizing: border-box;
    font-weight: inherit;
    font-family: 'Comfortaa', cursive;
    ;
    font-style: inherit;
    /*  font-size: 100%; */
}

:root {
    --color-principal: #432158;
    --color-font: rgba(0, 0, 0, 0.53);
    --color-secondary: #F94F22;
}

.cont-redes {
    background-color: var(--color-principal);
    width: 202px;
    height: 41px;
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

h1 {
    color: var(--color-principal);
    font-size: 18px !important;
    text-align: center;
    margin-top: 30px !important;
}

.container-titulo--contenido {
    padding: 26px !important;
}

.container-titulo--btn {
    background-color: var(--color-principal) !important;
    color: #fff;
    width: 146px;
    height: 38px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto !important;
}

.container-formulario {
    width: 90%;
    padding: 20px !important;
    background: #FFFFFF;
    box-shadow: 1px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.container-formulario input {
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-color: transparent;
    padding: 15px !important;
}

.container-formulario button {
    background-color: var(--color-principal);
    color: #fff;
    width: 161px;
    border-radius: 20px;
}

.container-formulario button:hover {
    color: #fff;
}

.container-seleccion--parque button {
    width: 194px;
    height: 50px;
    border-radius: 20px;
}

.container-seleccion--turbaco button {
    width: 194px;
    height: 50px;
    border-radius: 20px;
}

h3 {
    color: var(--color-principal);
}

.container-splide {
    margin: 0 auto !important;
}

.splide__slide {
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px !important;
}

.splide__slide img {
    border-radius: 20px 20px 0 0;
    height: auto;
}

.splide__slide button {
    background-color: var(--color-principal);
    color: #fff;
    width: 182px;
    height: 31px;
    border-radius: 20px;
}

.splide__slide button:hover {
    color: #fff;
}

#is-active-view {
    display: none;
}

#is-active-view-afiliacion {
    display: none;
}

.is-active-view {
    display: inline !important;
}

.is-active-view-afiliacion {
    display: inline !important;
}

.container-afiliaciones p {
    width: 70%;
}

.container-afiliaciones--imagen img {
    width: 500px;
}

.splide__slide--paraguas {
    width: 246px;
    height: 213px;
}

.splide__slide--gorra {
    width: 218px;
}

.splide__slide--bolso {
    width: 146px;
}

.splide__slide--mugs {
    width: 206px;
}

.card {
    width: 442px;
}

.card,
.car2,
img {
    border-radius: 0 24px 24px 0;
}

.container-text-card {
    padding: 15px !important;
}

.container-text-card button {
    background-color: var(--color-secondary);
    color: #fff;
    width: 159px;
    height: 31px;
    border-radius: 20px;
}
@media only screen and (min-width: 1434px) and (max-width: 1880px) {
    .container-formulario {
        width: 70% !important;
    }
}

@media  only screen and (min-width:320px) and (max-width:703px){
    .imgplan {
        border-radius: 0 0 24px 24px;
        min-width: 230px;
            /*min-height: 349px;*/
    }
    .card, .car2{
        flex-direction: column;
    }
}
